.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border);
  z-index: 100;
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
.logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
}
*/
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--primary);
}
